html,
body,
header,
#banner,
#about,
#middle,
#feedbacks,
#plea,
footer {
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#header,
#banner_div,
#about_div,
#middle_div,
#feedbacks_div,
#plea_div,
#footer {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

header {
    background: #3498db;
    height: 78px;
    color: white;
}

#logo_head_div {
    float: left;
    margin: 12px 0 10px 0;
}

.logo_top {
    font-size: 18px;
    padding: 14px 0 0 0;
    height: 34px;
    width: 48px;
}

.logo_a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0;
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
}

.cmtt_head {
    float: left;
    text-transform: uppercase;
    font-size: 22px;
    margin: 29px 0 29px 14px;
}

.ic-head {
    float: right;
}

.connect {
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -6px;
}

.soc-icon {
    display: inline-block;
}

.soc-icon ul {
    float: left;
    padding: 0;
    margin: 28px 0 0 0;
}

.soc-icon ul li {
    float: left;
    list-style-type: none;
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 0 4px;
    padding: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.icon_fb {
    background: url(../images/facebook.svg) no-repeat;
}

.icon_goog {
    background: url("../images/google-plus.svg") no-repeat;
}

.icon_tw {
    background: url(../images/twitter.svg) no-repeat;
}

.icon_fb:hover,.icon_goog:hover,.icon_tw:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#banner {
    height: 350px;
    background: url("../images/bg_banner.jpg") no-repeat center center;
    color: white;
}

#banner_div h2 {
    margin: 0;
    padding: 70px 0 0 0;
    font-size: 34pt;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
}

#banner_div h3 {
    margin: 18px 440px 0 0;
    padding: 0;
    font-size: 22pt;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
}

#banner_div {
    position: relative;
}

#form {
    position: absolute;
    top: 28px;
    right: 0;
    height: 540px;
    width: 360px;
    border-bottom: 4px solid #3498db;
    background: white;
}

#forma_courses p {
    text-transform: uppercase;
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin: 26px 0 13px 0;
}

#forma_courses input, #textarea_address {
    height: 36px;
    width: 306px;
    margin: 10px auto 0 20px;
    padding: 0 0 0 13px;
    font-size: 15px;
    color: #333333;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    font-family: Helvetica, Arial, sans-serif;
}

#textarea_address {
    height: 66px !important;
    padding: 10px 0 0 13px;
    margin: 10px 0 -4px 20px;
    resize: none;
}

#forma_courses input::-webkit-input-placeholder, #textarea_address::-webkit-input-placeholder {
    color: #333333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}


#forma_sel_course {
    margin: 0;
    position: relative;
}

#forma_sel_course:after {
    content: url("../images/strelka_down.png");
    position: absolute;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 1;
    color: #333333;
    top: -3px;
    margin: 12px 0 0 310px;
}

#forma_submit {
    height: 48px;
    width: 220px;
    margin: 25px auto 0 75px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    background: #e74c3c;
    border: none;
}

#forma_submit:hover {
    box-shadow: 1px 1px 4px #6b1f13;
}


#about {
    height: 250px;
    background: #f2f2f2;
    color: #333333;
}

#about h4 {
    margin: 0;
    padding: 33px 0 0 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

#about p {
    margin: 22px 419px 0 0;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
}

#middle {
    height: 532px;
    background: white;
}

#middle_div {
    height: 532px;
}

#middle_div h3 {
    text-transform: uppercase;
    color: #3498db;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 38px 0 0 0;
}

#middle_block_colomns {
    margin: 32px auto 0 auto;
}

.middle_colomn {
    display: inline-block;
    margin: 0 60px 0 0;
    padding: 0 0;
    width: 290px;
    text-align: center;
}

.middle_colomn:last-child {
    margin: 0;
}

.middle_colomn_img {
    height: 158px;
    margin: 0 auto;
}

.col_img_left {
    background: url("../images/bg_img_left.jpg") no-repeat;
}

.col_img_mid {
    background: url("../images/bg_img_mid.jpg") no-repeat;
}

.col_img_right {
    background: url("../images/bg_img_right.jpg") no-repeat;
}

.middle_colomn h4 {
    text-transform: uppercase;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin: 26px 0 0 0;
    padding: 0;
}

.middle_colomn p {
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0 0 0;
    padding: 0;
    height: 122px;
    overflow: hidden;
}

.middle_colomn_view {
    margin: 23px 0 0 118px;
    padding: 0;
}

.colomn_view_a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    margin: 0;
    padding: 17px 0 0 0;
    display: block;
    height: 31px;
    width: 48px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s;
}

.colomn_view_a:hover {
    background: #f2f2f2;
}

#feedbacks {
    height: 255px;
    background: white;
}

#feedbacks_div {
    border-top: 1px solid #e6e6e6;
}

#feedback_head h3{
    text-transform: uppercase;
    color: #3498db;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 38px 0 0 0;
    float: left;
}

#arrow_feedback {
    float: right;
}

.arrow_div {
    display: inline-block;
}

.arrow_feed_a {
    text-decoration: none;
    color: #888888;
    font-size: 18px;
    margin: 30px 0 0 2px;
    padding: 5px 0 0 0;
    display: block;
    height: 31px;
    width: 36px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s;
}

._a2 {
    background: url("../images/strelka_toright_notactive.png") 14px 9px no-repeat;
}

._a1 {
    background: url("../images/strelka_toleft_notactive.png") 11px 9px no-repeat;
}

._a2:hover {
    background: url("../images/strelka_toright_active.png") 14px 9px no-repeat, #f2f2f2;
}

._a1:hover {
    background: url("../images/strelka_toleft_active.png") 11px 9px no-repeat, #f2f2f2;
}

blockquote {
    width: 740px;
    color: #333333;
    font-size: 13px;
    text-align: justify;
    line-height: 1.5;
    margin: 124px 0 0 0;
    position: relative;
}

blockquote span {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    margin: 22px 0 0 0;
}

blockquote:before {
    content: '\201C';
    font-size: 55px;
    color: #f2f2f2;
    position: absolute;
    margin: -50px 0 0 0;
    padding: 0;
}

blockquote:after {
    content: '\201D';
    font-size: 55px;
    color: #f2f2f2;
    position: absolute;
    right: 0;
    margin: 30px 0 0 0;
    padding: 0;
}

#plea {
    height: 189px;
    background: #f2f2f2;
}

#plea_div button {
    width: 540px;
    height: 60px;
    color: white;
    font-size: 22px;
    background: #e74c3c;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 67px 0 0 0;
    padding: 0;
    position: relative;
}

#plea_div button:after {
    content: url("../images/strelka_toright_button.png");
    position: absolute;
    right: 17px;
    font-size: 16pt;
    color: white;
    margin: -3px 0 0 0;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0 7px 0 7px;

}

#plea_div button:hover {
    box-shadow: 1px 1px 4px #6b1f13;
}

#plea_div {
    position: relative;
    height: 189px;
}

#img_guy {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/guy.png");
    height: 364px;
    width: 225px;
}

footer {
    background: #3498db;
    height: 193px;
    color: white;
}

.logo_foot {
    font-size: 22px;
    padding: 20px 0 0 0;
    height: 42px;
    width: 62px;
}

.logo_foot_div {
    float: left;
    margin: 51px 0 0 0;
}

.cmtt-foot {
    float: left;
    text-transform: uppercase;
    font-size: 22px;
    width: 140px;
    margin: 58px 0 29px 11px;
    padding: 0 20px 5px 0;
    border-right: 1px solid #2980b9;
}

.ic-foot ul {
    margin: 0;
    padding: 0;
}

#foot_right_div {
    float: left;
    margin: 60px 0 0 21px;
}

#foot_right_div p {
    font-size: 13px;
}

#foot_right_div a {
    text-decoration: none;
    color: white;
}



