html {
    -width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
}

header {
    width: 1400px;
    height: 116px;
    margin: 0 auto;
}
.logo {
    float: left;
    padding: 0;
    margin: 40px 145px 26px 140px;
    font: 36pt "FuturaBT Bold", sans-serif;
    text-transform: uppercase;
    color: #3070a8;
}

.logo span {
    font: 36pt "PoiretOne Regular", sans-serif;
    text-transform: none;
    color: #ee8129;
}

.menu {
    -float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    font: 14pt "OpenSans Semibold", sans-serif;
    overflow: hidden;
}

ul {
    width: 865px;
    margin: 0;
}

ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 62px 20px 35px 20px;
    border-bottom: 4px solid transparent;
}

ul li a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: #a0a0a0;
}

li a:hover {
    border-bottom: 4px solid #3070a8;
    padding: 0 0 35px 0;
    color: #3070a8;
}

#banner {
    clear: both;
    margin: 0 auto;
    height: 585px;
    text-align: center;
    background: url("Banner_BG_pic.jpg") no-repeat;
    position: relative;
}

#banner_bg {
    height: 585px;
    background-color: rgba(133,154,169,0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#banner_text1 {
    font:
    margin: 0 0 0 0;
}

#banner_text2 {
    font:
    margin: 0 0 0 0;
}

#banner_text3 {
    font: 20pt Calibri, sans-sarif;
    font-style: italic;
    margin: 0 0 0 0;
}

#banner_button {
    padding: 0 0 0 0;
    border: 1px solid white;
    font: ;
}
#banner_button a {
    text-decoration: none;
    color: ;
}
