html {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1400px;
}

@font-face {
    font-family: FuturaBT_Book;
    src: local("FuturaBT Book"),
        url(FuturaBT_Book_light.ttf);
}

@font-face {
    font-family: FuturaBT_Bold;
    src: local("FuturaBT Bold"),
        url(FuturaBT_Bold_light.ttf);
}

@font-face {
    font-family: OpenSans_Semibold;
    src: local("OpenSans Semibold"),
        url(OpenSans.ttf);
}

header {
    height: 116px;
    margin: 0 auto;
}
.logo {
    float: left;
    padding: 0;
    margin: 36px 160px 36px 184px;
    font: 29pt FuturaBT_Bold, sans-serif;
    text-transform: uppercase;
    color: #3070a8;
}

.logo span {
    font: 29pt PoiretOne_Regular, sans-serif;
    text-transform: none;
    color: #ee8129;
}

.menu {
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #fff;
    font: 13pt OpenSans_Semibold, sans-serif;
    overflow: hidden;
    width: 768px;
}

ul {
    height: 116px;
    padding: 0;
    margin: 0;
    float: left;
}

ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: #a0a0a0;
    padding: 0 20px 29px 20px;
    margin: 62px 0 0 0;
    display: block;
}

li a:hover {
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
}

#banner {
    clear: both;
    margin: -16px auto; /*ѕочему между блоками Header и nav id=banner по€вилс€ отступ в 16px? */
    height: 585px;
    text-align: center;
    background: url("Banner_BG_pic.jpg") no-repeat, url("banner_bg_2.png");
    position: relative;
}

#banner_bg {
    height: 585px;
    background: url("banner_bg_2.png");
    margin: 0;
    color: white;
}

#banner_text1 {
    position: relative;
    top: 153px;
    font: 33pt FuturaBT_Book, sans-serif;
    margin: 0;
}

#banner_text2 {
    font: bold 33pt FuturaBT_Bold, sans-serif;
    text-transform: uppercase;
}

#banner_text3 {
    font: italic 15pt Calibri, sans-sarif;
    margin: 163px 0 0 0;
}

#banner_button {

    padding: 0 0 0 0;
    font: 13pt OpenSans_Semibold, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}
#banner_button a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 43px auto 0 auto;
    padding: 14px 0 0 0;
    width: 245px;
    height: 43px;
    border: 1px solid white;
}

#services_section {
    height: 563px;
    margin: 16px auto 0 auto;
}

#services_header {
    position: relative;
    top: 68px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font: 22pt "Trebuchet MS";
    color: #41525c;
}

#services_block_gen {
    position: relative;
    top: 147px;
    margin: 0 auto;
    text-align: center;
}

.services_block {
    display: inline-block;
    margin: 0 20px;
    padding: 0 0;
    width: 302px;
}

.serv_img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: url("");
    background-color: #3070a8;
    margin: 0 auto;
    -text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.serv_img_head {
    font: 25pt FuturaBT_Book, sans-serif;
    color: #3070a8;
    text-transform: uppercase;
    margin: 30px auto;
}

.serv_text {
    color: #999999;
    font: 11pt OpenSans_Semibold, sans-serif;
}