html {
    margin: 0 auto;
    padding: 0;
    width: 1400px;
}

body {
    margin: 0 auto;
}

@font-face {
    font-family: FuturaBT_Book;
    src: local("FuturaBT Book"),
        url(fonts/FuturaBT_Book_light.ttf);
}

@font-face {
    font-family: FuturaBT_Bold;
    src: local("FuturaBT Bold"),
        url(fonts/futura-md-bt-bold.ttf);
}

@font-face {
    font-family: OpenSans_Semibold;
    src: local("OpenSans Semibold"),
        url(fonts/OpenSans.ttf);
}

header {
    height: 116px;
    margin: 0 auto;
}
.logo {
    float: left;
    padding: 0;
    margin: 36px 160px 36px 184px;
    font: 29pt FuturaBT_Bold, sans-serif;
    text-transform: uppercase;
    color: #3070a8;
}

.logo span {
    font: 29pt PoiretOne_Regular, sans-serif;
    text-transform: none;
    color: #ee8129;
}

.menu {
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #fff;
    font: 13pt OpenSans_Semibold, sans-serif;
    overflow: hidden;
    width: 755px;
}

.menu ul {
    height: 116px;
    padding: 0;
    margin: 0;
    float: left;
}

.menu ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: #a0a0a0;
    padding: 0 20px 30px 20px;
    margin: 58px 0 0 0;
    display: block;
}

.menu li a:hover {
    border-bottom: 4px solid #3070a8;
    color: #3070a8;
}

/*section BANNER */

#banner {
    margin: 0 auto;
    height: 585px;
    text-align: center;
    background: url("images/Banner_BG_pic.jpg") no-repeat, url("images/banner_bg_2.png"); /* ѕочему втора€ картинка не
    накладываетс€ на первую? ѕришлось добавл€ть второй слой фона в дочерний div #banner_bg */
    position: relative;
}

#banner_bg {
    height: 585px;
    background: url("images/banner_bg_2.png");
    margin: 0;
}

#banner_t {
    margin: 150px 0 0 0;
    color: white;
    text-align: center;
    display: inline-block;
}

#banner_text1 {
    font: 33pt FuturaBT_Book, sans-serif;
    margin: 0;
}

#banner_text2 {
    font: bold 33pt FuturaBT_Bold, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}

#banner_text3 {
    font: italic 15pt Calibri, sans-sarif;
    margin: 32px 0 0 0;
}

#banner_button {

    padding: 0 0 0 0;
    font: 13pt OpenSans_Semibold, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}
#banner_button a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 42px auto 0 auto;
    padding: 13px 0;
    width: 245px;
    height: 52px;
    border: 1px solid white;
}

/*section SERVICES */

#services_section {
    height: 563px;
    margin: 16px auto 0 auto;
}

#services_header {
    position: relative;
    top: 68px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font: 22pt "Trebuchet MS";
    color: #41525c;
}

#services_block_gen {
    position: relative;
    top: 147px;
    margin: 0 auto;
    text-align: center;
}

.services_block {
    display: inline-block;
    margin: 0 20px;
    padding: 0 0;
    width: 302px;
}

.serv_img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background: url("");
    background-color: #3070a8;
    margin: 0 auto;
    position: relative;
    box-shadow: inset 3px 3px 0 3px #2b6598;
}

.serv_img_head {
    font: 25pt FuturaBT_Book, sans-serif;
    color: #3070a8;
    text-transform: uppercase;
    margin: 30px auto;
}

.serv_text {
    color: #999999;
    font: 11pt OpenSans_Semibold, sans-serif;
}

.glyphicon-lock, .glyphicon-flash, .glyphicon-phone {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 0 #2b6598,
        2px 2px 0 #2b6598,
        3px 3px 0 #2b6598,
        4px 4px 0 #2b6598,
        5px 5px 0 #2b6598,
        6px 6px 0 #2b6598,
        7px 7px 0 #2b6598,
        8px 8px 0 #2b6598,
        9px 9px 0 #2b6598,
        10px 10px 0 #2b6598,
        11px 11px 2px #2b6598,
        12px 12px 3px #2b6598,
        13px 13px 4px #2b6598,
        14px 14px 5px #2b6598,
        15px 15px 8px #2b6598,
        16px 16px 10px #2b6598,
        17px 17px 12px #2b6598,
        18px 18px 15px #2b6598;
}

.services_glyphicon {
    position: relative;
    top: 40px;
    margin: auto;
}

/*section MIDDLE */

#middle-section {
    margin: 0 auto;
    height: 577px;
    background: url("images/middle-section_BG_pic.jpg") no-repeat;
    position: relative;
    display: inline-block;
}

#middle-section_bg2 {
    height: 577px;
    background: url("images/middle-section_BG_2-2.png");
    margin: 0 auto;
    position: relative;
}

#middle-section_header {
    margin: 0 0 45px 189px;
    position: relative;
    top: 90px; /* ѕочему при выставлении верхнего отступа margin 90px, то данный блок опускает весь родительский блок
    на 90px. ѕриходитьс€ опускать top-ом в position: relative. Ќо в этом случае все идущие последующие блоки уже не так
    удобно позиционировать, если бы просто данный блок применил верхний отступ относительно родителького */
}

#middle-section_header span {
    color: #ee8129;
    font: bold 18pt FuturaBT_Book, sans-serif;
    text-transform: uppercase;
}

#middle-section_header p {
    color: white;
    font: italic 12pt OpenSans_Semibold, sans-serif;
    margin: 16px 0 0 0;
}

#middle-section_list {
    margin: 130px 563px 0 189px;
    color: #a3a3a3;
    font: 11pt OpenSans_Semibold, sans-serif;
    line-height: 2;
}

#middle-section_list li {
    margin: 12px 0;
}

#middle-section_list li:nth-child(2n) {
    color: #3070a8;
}

/* section PRICING 'Flexible offers' */
#pricing {
    height: 704px;
    margin: 0 auto;
}

#pricing_3block {
    margin: 0 auto;
    width: 830px;
}

#pricing_header {
    display: block;
    position: relative;
    top: 75px;
    text-align: center;
    text-transform: uppercase;
    font: bold 27px "Trebuchet MS", sans-serif;
    margin: 0 0 60px 0;
    padding: 0;
}
#pricing_3block {
    position: relative;
    top: 60px;
    margin: 0 auto;
}

.pricing_block {
    float: left;
    position: relative;
    background: #fff;
    padding: 16px;
    overflow: auto;
}
.b-left {
    border: 1px solid #EBECEE;
    margin: 15px 0 0 0;
    border-radius: 5px 0 0 5px;
    z-index: 1;
}

.b-middle {
    border: 3px solid #e57f02;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 30;
}

.b-right {
    border: 1px solid #EBECEE;
    margin: 15px 0 0 0;
    border-radius: 0 5px 5px 0;
    z-index: 2;
}

.pricing_value {
    margin: -16px -16px 0;
    text-align: center;
    font: bold 20px FuturaBT_Bold, sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.b-left .pricing_value {
    padding: 18px 0;
    background: #2BC1D3;
}

.b-middle .pricing_value {
    padding: 25px 0;
    background: #e57f02;
}

.b-right .pricing_value {
    padding: 19px 0;
    background: #00B799;
}

.pricing_p {
    margin: 5px 0 15px 0;
    padding: 12px 0;
    text-align: center;
    color: #344859;
    font: 22px FuturaBT_Book, sans-serif;
    text-transform: uppercase;
}

.pricing_cost {
    position: relative;
    margin: 5px 0 40px 0;
    padding: 0 0 50px 35px;
    text-align: center;
    color: #344859;
}

.cost1 {
    position: absolute;
    top: 0;
    left: 45px;
    font: 28px FuturaBT_Bold, "Trebuchet MS", sans-serif; /* ѕочему-то в шрифте FuturaBT_Bold не примен€ютс€ цифры */
}

.cost2 {
    position: absolute;
    top: -5px;
    left: 60px;
    font: bold 68px FuturaBT_Bold, "Trebuchet MS", sans-serif;
}

.cost3 {
    position: absolute;
    top: 45px;
    left: 143px;
    font: 18px FuturaBT_Book, sans-serif;
}

.pricing_list ul li {
    font: 15px Calibri, sans-serif;
    color: #878B93;
    margin: 0 0 1px -38px;
    padding: 6px 0;
    list-style: none;
}

.pricing_list li:nth-of-type(2n+2) {
    background: #F4F4F5;
}

.pricing_list li:nth-of-type(2n+1) {
    background: #ECF4FC;
}

.pricing_list ul li:before {
    content: '\2714';
    color: #95BD18;
    padding: 0 15px 0 30px;
}

.pricing_button a{
    height: 38px;
    width: 240px;
    padding: 10px 0 0 0;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font: bold 14px OpenSans_Semibold, sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
}

.enroll-1 {
    background: #306FA7;
    box-shadow: 0 3px 1px rgba(0,47,91, 1);
    margin: 0 0 15px 0;
}

.enroll-2 {
    background: #e57f02;
    box-shadow: 0 3px 1px rgba(189, 104, 0, 1);
    margin: 0 0 25px 0;
}

.enroll-2:hover {
    text-decoration: none;
    color: #fff;
    background: #bd5015;
}

.enroll-1:hover {
    text-decoration: none;
    color: #fff;
    background: #002F5B;
}

/* Section TESTIMONIALS */
#testimonials {
    height: 312px;
    margin: 0 auto;
    overflow: hidden;
}

.reviews_back1 {
    height: 315px;
    width: 1400px;
    margin: auto 0;
    background-image: url(images/background_review.jpg);
    z-index: 1;
}

.reviews_back2 {
    height: 315px;
    width: 1400px;
    background-color: rgba(15,20,30,0.9);
    margin: auto 0;
    z-index: 20;
}

.header_customer_reviews {
    display: block;
    text-align: center;
    margin: 0;
    padding: 48px 0;
    font: bold 40px FuturaBT_Bold, sans-serif;
    color: #3170a8;
    text-transform: uppercase;
}

#review_header{
    color: #ee8129;
    font: normal 40px FuturaBT_Book, sans-serif;
}

.text_review {
    background-color: #f7f7f7;
    float: left;
    width: 365px;
    box-sizing: border-box;
    color: #666666;
    font: 13px OpenSans_Semibold, sans-serif;
    padding: 14px;
    position: relative;
    z-index: 15;
}

.text_review:before {
    content: ' ';
    width: 0;
    height: 0;
    float: left;
    border: 12px solid;
    border-color: transparent #f7f7f7 transparent transparent; /* ѕочему не получаетс€ стрелочка? */
    position: absolute;
    left: -24px;
    top: 36px;
}

.customer_photo1 {
    background: url("images/Client1.jpg");
    float: left;
    margin: 0 35px 0 195px;
    padding: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.client {
    position: relative;
    margin: 0;
    padding: 0 0 24px 0;
    border-bottom: 2px dotted #666666;
    font-style: italic;
    color: #3070a8;
}

.client_name {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}

.client_customer {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
}

.customer_says_text {
    line-height: 1.5;
    text-align: justify;
    margin: 8px 0 0 0;
    padding: 0;
}

.customer_photo2 {
    background: url("images/Client2.jpg");
    float: left;
    margin: 0 35px 0 50px;
    padding: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/* FOOTER */

footer {
    height: 449px;
    overflow: hidden;
    margin: 0 auto;
    font: 14px OpenSans_Semibold, sans-serif;
}

#footer_block_top {
    position: relative;
    width: 1400px;
    height: 345px;
    margin: 0 auto;
    background-color: white;
}

#footer_block_left {
    float: left;
    margin: 48px 0 0 189px;
}

#footer_contact {
    color: #a0a0a0;
    display: inline-block;
}

.footer_contact_2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.glyphicon-map-marker, .footer_icon_phone, .glyphicon-envelope {
    color: #3070a8;
    font-size: 35px;
    text-shadow: none;
    float: left;
    margin: 0 30px 0 0;
}

#addres, #tel, #email {
    display: inline-block;
}

#footer_social_icon {
    margin: 32px 0 0 0;
}

.f_soc_icon {
    float: left;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin: 0 11px;
    cursor: pointer;
}

.icon_left {
    background: url("images/footer_soc-icon_fb.png");
    margin: 0 11px 0 0;
}

.icon_middle {
    background: url("images/footer_soc-icon_tw.png");
}

.icon_right {
    background: url("images/footer_soc-icon_in.png");
}

#footer_map {
    height: 345px;
    width: 704px;
    float: right;
    background: url("images/footer_map.jpg");
}

#footer_block_bottom {
    background: #3070a8;
    color: white;
    text-align: center;
    padding: 28px 0;
}

#footer_block_bottom span {
    font-weight: bold;
}

#footer_block_bottom a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}