div.nav {
    background: #FFCD5D;
    border: 5px solid #FFCD5D;
    position: relative;
    margin: 0 auto;
    padding: 0 0;
    width: 450px;
}

#check_srch {
    vertical-align: baseline;
}

div.nav::after {
    width: 10px;
    height: 10px;
    border: 20px solid;
    border-color: transparent transparent transparent #FFCD5D;
    position: absolute;
    left: 0;
}