div {
    margin: 0 auto;
    background: #eeeeee;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 90%;
    --padding-top: 10 10;
}

div div {
    width: 900px;
    padding: 10px 10px;
    margin: 5px 5px;
    --background: ;
}
a {
    text-decoration: none;
    color: #A600A6;
    --padding: 10px 15px;
    -display: block;
}