html {
    height: 100%;
    background:
    -webkit-linear-gradient(limegreen, transparent), -webkit-linear-gradient(0deg, skyblue, transparent), -webkit-linear-gradient(180deg, coral, transparent);
    background:
    linear-gradient(
            limegreen,
            transparent
    ),
    linear-gradient(
            90deg,
            skyblue,
            transparent
    ),
    linear-gradient(
            -90deg,
            coral,
            transparent
    );

    background-blend-mode: screen;
}