a {
    font-size: 200%;
}
a[href*="http"] {
    color: #f70;
}
a[href*="googl"] {
    color: #666;
}
a[target="_blank"]:after {
    content: "\21F1";
    position: absolute;
    text-decoration: none;
    font-family: Cambira serif;
    -webkit-transform: rotate(90deg);
}