body {
    margin: 0;
}
ul {
    float: left;
    text-align: center;
    padding: 0 50px;
    margin: 0;
    background: #a64dff;
    font: 18px Impact;
    width: 900px;
}

ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
}

ul li:last-child {
    float: right
}
/*ћожно было последнюю ссылку меню <a> "More" обернуть в див и присвоить ему position: relative и
пододвинуть к краю с помощью например left: 100px. ¬ этом варианте, если понадобитс€ выпадающее меню, то оно будет
выпадать оттуда где передвинутый элемент стоит или с того места где оно сто€ло до того, как пододвинули его с relative? */

li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
}

a:hover {
    background: #eeeeee;
    color: #a1a1a1;
    box-shadow: 0 0 3px rgba(161, 161, 161, 0.4)
}
