body {
    margin: 0;
}
ul {
    text-align: center;
    padding: 0 50px;
    margin: 0;
    background: #a64dff;
    font: 18px Impact;
    width: 900px;
}
ul li {
    display: inline-block;
    position: relative;
    left: -150px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
}
ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

a:hover {
    background: #eeeeee;
    color: #a1a1a1;
    box-shadow: 0 0 3px rgba(161, 161, 161, 0.4);
}