#pager {
    margin: 0 auto;
    padding: 10px;
    background: #eeeeee;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 10px;
    width: 436px;
}

div div {
    display: inline-block;
}

#pages span {
    margin: 10px;
    position: relative;
    top: 6px;
}

a {
    text-decoration: none;
    color: #A600A6;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
}

.nav a {
    border-color: transparent;
}

a:hover {
    background: #A600A6;
    color: white;
    border: 1px solid #970097;
}

a.list:hover {
    background: none;
    border-color: transparent;
    font-weight: bold;
    color: #A600A6;
    text-shadow: 0.5px 0.5px 0.2px white;
}